<ion-view view-title="Chat!" class="template">
	<ion-content>
		<div class="container-messages">
			<div class="container-internal-messages">
				<div ng-repeat="message in messages" class="message" ng-class="{true:'message own-message', false:'message'}[nickname === message.nickname]">
					<strong>{{message.nickname}}:</strong> {{message.message}}
				</div>
			</div>
		</div>
	</ion-content>
	<div class="submit-messages">
		<input type="text" ng-model="data.message">
		<button ng-click="sendMessage()">SEND</button>
	</div>
</ion-view>